body{

    background-color: beige;


}

#bild{

    width: 300px;
    display: inline-block;

}

#mellamo{

    display: inline-block;
    margin-left: 20%;
}

table{

    border: solid ;
    background-color: burlywood;
    

}
th{

    border: solid;
}



td{
    border: solid;
}


p{


    text-align: center;
    /* margin-left: 10%;
    margin-right: 10%; */
    margin: auto;
}

#erfarenheter{

text-align: center;




}


h4{


text-align: center;

}

#utbildning{

margin-left: 79%;

}


#erfarenhet{


margin-left: 85%;

}

.us{

text-align: center;

margin: 5%;

}


#ommig{

margin-left: 96%;



}

form{

    border-style: groove;
    border-color: black;
    
    margin-right: 80%;
    margin-top: 20%;
    margin-bottom: 10%;
}

#konmig{

    margin-left: 85%;


}